<html>
<head> <title>Notification</title> </head>
<body>
<h3> Tower Number - $otmNumber  </h3>
<table border="1" cellpadding="3" cellspacing="0" width="800">
<tbody align="center" style="font-family:verdana; color:purple; background-color:pink">
<tr>
<td width="40%">Inspection Question</td>
<td width="10%">Answer</td>
<td width="50%">Comments</td>
</tr>
</tbody>
<tbody align="center" style="font-family:verdana; color:blue">
#if ($safetyClimbPresent == "No" || $safetyClimbPresent == "NO")
<tr>
<td width="40%">Safety climb present?</td>
<td width="10%">No</td>
<td width="50%">$safetyClimbComments</td>
</tr>
#end
</tbody>
</table>
</body>
</html>
