<html>
<head> <title>Notification</title> </head>
<body>
<table border="1" cellpadding="3" cellspacing="0" width="800">
<tbody align="center" style="font-family:verdana; color:purple; background-color:pink">
<tr>
<td width="40%">Inspection Question</td>
<td width="10%">Answer</td>
<td width="50%">Comments</td>
</tr>
</tbody>
<tbody align="center" style="font-family:verdana; color:blue">
#foreach($user in $HazmatList)
#if ($user.hazmatInfoChanged == "Yes" || $user.hazmatInfoChanged == "YES")
<tr>
<td width="40%">Has miscellaneous Hazmat information changed?</td>
<td width="10%">Yes</td>
<td width="50%">Number of Containers - $user.hazmatContainerCount </br>
Hazmat Type - $user.hazmatType </br>
Hazmat Container Type - $user.hazmatContainerType </br>
</td>
</tr>
#end
#end
</tbody>
</table>
</body>
</html>
