<html>
<head> <title>Notification</title> </head>
<body>
<table border="1" cellpadding="3" cellspacing="0" width="800">
<tbody align="center" style="font-family:verdana; color:purple; background-color:pink">
<tr>
<td width="40%">Inspection Question</td>
<td width="10%">Answer</td>
<td width="50%">Comments</td>
</tr>
</tbody>
<tbody align="center" style="font-family:verdana; color:blue">
#foreach($ait in $NotificationAIT)
#if ($ait.subMeterOnSite == "No" || $ait.subMeterOnSite == "NO")
<tr>
<td width="40%">Tenant sub-meter on site</td>
<td width="10%">No</td>
<td width="50%">$ait.subMeterNotes</td>
</tr>
#end
#end
</tbody>
</table>
</body>
</html>
